//GENERAL STYLING
@import 'variables';
body {
	margin: 0;
	padding: 0;
	border: 0;
	color:$text-color;
	font-family: "Open Sans", sans-serif;
}

.no-scroll{
	overflow:hidden;
}

img {
	width: 100%;
	z-index: 3;
}
.container{
	display:block;
	padding:90px 100px 90px 100px;
	background-color:#ffffff;
	p{
		margin:0 auto;
		margin-top:25px;
		margin-bottom:25px;
		line-height:30px;
		@media screen and (max-width: $tablet-min){
			font-size: 14px;
    		line-height: 25px;
		}
	}
	@media screen and (max-width: $tablet-max) {
		padding:35px 10px 20px 10px;
	}
}

.home-button {
	text-decoration:none;
	padding: 14px;
	// padding-right: 37px;
	// padding-left: 37px;
	background-color: $orange;
	color: #ffffff;
	font-size: 18px;
	border: 0;
	font-family: "Open Sans", sans-serif;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 500;
	z-index: 3;
	display:inline-block;
	width:140px;
	margin:0px 60px;
	&:hover{
		cursor:pointer;
	}
}
.home-button:focus, input:focus{
	outline:0;
}

.textsection {
	text-align: center;
	font-family: "Open Sans", Regular, sans-serif;
	color: $text-color;
	z-index: 4;
	img {
		padding: 50px;
		padding-top: 40px;
		padding-bottom: 20px;
		display: inline-block;
		width: auto;
		height: 8%;
	}
}

h1,h2,h3{
	font-family: 'Alegreya Sans', sans-serif;
	text-align:center;
}
h1{
	font-weight: 400;
    letter-spacing: 1px;
    font-size: 50px;
    @media screen and (max-width: $tablet-min){
		font-size: 33px;
		font-weight:100;
	}
}
h2 {
	font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
	z-index: 3;
	line-height:53px;
	@media screen and (max-width: $tablet-min){
    	font-size: 33px;
    	margin: 0;
    	line-height: 39px;
    }

}

.center-text{
	width: 85%;
    line-height: 36px;
    margin: 0 auto;
    @media screen and (max-width: $tablet-min){
		width:95%;
	}
}

.img-container{
	width:350px;
	height:350px;
	overflow:hidden;
	display:inline-block;
	margin:5px;
	background-color:#000000;
	p{
	    color: #ffffff;
	    text-align: center;
	    margin: 0 auto;
	    position: absolute;
	    width: inherit;
	    margin-top:175px;
	    font-family: "Open Sans", sans-serif;
	}
	&:hover{
		cursor:pointer;
	}
	h2,h1{
		position:absolute;
		margin:0 auto;
		width:inherit;
		margin-top:111px;
		color:#ffffff;
		&:hover+img{
			opacity:0.5;
	    	transition:0.3s;
		}
	}
	h1{
		font-size:80px;
		margin-top:75px;
	}
	img{
	    opacity: 0.7;	
	    &:hover{
	    	opacity:0.5;
	    	transition:0.3s;
	    }
	}
	.no-hover{
		&:hover{
	    	opacity:0.7;
	    }
	}
	.vert-img{
		width:100%
	}
	.horiz-img{
		width: auto;
    	height: 100%;
	}
	@media screen and (max-width: $tablet-max) and (min-width: $tablet-mid) {
		width:300px;
		height:300px;
		h2{
			margin-top:95px;
			font-size:37px;
		}
	}
	@media screen and (max-width: $tablet-mid) and (min-width: $tablet-min) {
		width:220px;
		height:220px;
		h2{
			margin-top:70px;
			font-size:32px;
			line-height:40px;
			font-weight:100;
		}
	}
	@media screen and (max-width: $tablet-min){
		display:block;
		margin:0 auto;
	    margin-top: 20px;
    	margin-bottom: 20px;
	}
}
#content-1{
	background-size:cover;
	color:#ffffff;
	width:100%;
	padding-left:0;
	padding-right:0;
	p{
		width:60%;
		text-align:center;
		padding-bottom:85px;
		margin: 0 auto;
		line-height:36px;
	}
}

.edit-img{
	width:28vw;
	.camera-icon{
		width:26px;
		margin:0;
		opacity:0.7;
	}
	.container-img:hover{
		cursor:pointer;
		opacity:0.6;
		background-color:#000000;
		transition:0.3s;
	}
}

.left{
	.edit-img{
		.camera-icon{
			margin-right: -31vw;
    		margin-top: 16px;
		}
	}
}
.right{
	.edit-img{
		.camera-icon{
			margin-left: -95px;
    		margin-top: 16px;
		}
	}
}
#update-photo{
	background-color:$light-grey-fill;
	.main-form{
		margin-bottom:120px;
		label{
			text-align:left;
		    width: 202px;
    		margin: 0 auto;
    		padding-bottom: 7px;
		}
	}
}
.alert{
	width:450px;
	margin:0 auto;
	background-color:#ffffff;
	border-radius:10px;
	padding:100px;
	margin-bottom:200px;
}
#err{
	background-color:$light-grey-fill;
	p{
		margin-bottom:200px;
		margin-top:100px;
	}
}

