// colors
$orange: #CF6622;
$light-orange:#ffe3d4;

$text-color: #484848;

$light-grey-fill:#ECECEC;
$light-grey: #AEAEAE;
$dark-grey: #5A5A5A;
$light-grey-text:#D0D0D0;


//mobile break points
$mobile-min: 320px;
$mobile-max: 480px;
$tablet-min: 768px;
$tablet-mid:1000px;
$tablet-mid-2:900px;
$tablet-max: 1200px;