@import 'variables';
#gifts-body{
	#content-1{
		background:  
			    linear-gradient(to right,
			      rgba(0, 0, 0, 0.5), 
			      rgba(0, 0, 0, 0.5)
			    ),
			    url('../../assets/img/help/gifts-hero.jpg');
		background-size:cover;
	}
	#gifts-container{
		text-align:center;
	}
}
#volunteer-body{
	#content-1{
		background:  
			    linear-gradient(to right,
			      rgba(0, 0, 0, 0.5), 
			      rgba(0, 0, 0, 0.5)
			    ),
			    url('../../assets/img/help/volunteer-hero.jpg');
		background-size:cover;
	}
}
#shopping-body{
	#content-1{
		background:  
			    linear-gradient(to right,
			      rgba(0, 0, 0, 0.5), 
			      rgba(0, 0, 0, 0.5)
			    ),
			    url('../../assets/img/help/shopping-hero.jpg');
		background-size:cover;
	}
	#shopping-container{
		text-align:center;
	}
}
#sponsor-body{
	#content-1{
		background:  
			    linear-gradient(to right,
			      rgba(0, 0, 0, 0.5), 
			      rgba(0, 0, 0, 0.5)
			    ),
			    url('../../assets/img/programs/programs-2.jpg');
		background-size:cover;
	}
	#sponsor-container{
		text-align:center;
	}
}

.help-body{
	#content-1{
		color:#ffffff;
		p{
			width:60%;
			text-align:center;
			padding-bottom:85px;
			margin:0 auto;
			line-height:36px;
		}
	}
}