#home #content-1 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/img/home/home-1.jpg");
  background-size: cover;
  height: 500px; }
  @media screen and (max-width: 1000px) {
    #home #content-1 {
      height: 540px; } }
  #home #content-1 h2 {
    margin: 0 auto;
    width: 60%;
    max-width: 800px;
    margin-top: 90px;
    font-size: 45px;
    line-height: 75px; }
    @media screen and (max-width: 1000px) {
      #home #content-1 h2 {
        width: 100%; } }
    @media screen and (max-width: 768px) {
      #home #content-1 h2 {
        font-size: 35px;
        line-height: 48px;
        margin-top: 130px; } }
  #home #content-1 #button-1 {
    margin: 0 auto;
    display: block;
    width: 140px;
    text-align: center;
    margin-top: 25px; }
    @media screen and (max-width: 900px) {
      #home #content-1 #button-1 {
        left: 0;
        right: 0;
        text-align: center;
        width: 119px;
        margin: 0 auto;
        top: 38%; } }
  #home #content-1 p {
    font-weight: 100;
    font-size: 18px;
    opacity: 0.8;
    margin-top: 15px; }
    @media screen and (max-width: 768px) {
      #home #content-1 p {
        font-size: 16px;
        line-height: 23px;
        margin-top: 20px;
        width: 100%; } }
#home #content-3 {
  height: 315px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../assets/img/home/home-2.jpg");
  background-size: cover;
  padding-top: 90px; }
  #home #content-3 #make {
    font-size: 40px;
    color: #484848; }
  #home #content-3 #button-container {
    text-align: center;
    padding: 50px; }
    #home #content-3 #button-container #button-2 {
      border: 2px solid #484848;
      background-color: transparent;
      color: #484848; }
#home #content-4 {
  padding-bottom: 60px;
  padding-right: 0;
  padding-left: 0; }
  #home #content-4 #programs-container {
    text-align: center;
    margin-top: 65px; }
#home #content-5 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../assets/img/home/home-3.jpg");
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px; }
  #home #content-5 h2 {
    margin-bottom: 15px; }
  #home #content-5 #newsletter {
    top: 360%;
    text-align: center;
    left: 25%;
    color: #484848;
    font-size: 18px;
    font-family: "Open Sans", sans-serif; }
  #home #content-5 form {
    text-align: center;
    margin-top: 55px; }
  #home #content-5 input[type=text] {
    width: 400px;
    height: 47px;
    padding-left: 13px;
    border: 1px solid #AEAEAE;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #484848;
    font-weight: 100; }
    @media screen and (max-width: 900px) {
      #home #content-5 input[type=text] {
        width: 330px; } }
    @media screen and (max-width: 768px) {
      #home #content-5 input[type=text] {
        width: 275px;
        border-radius: 10px; } }
  #home #content-5 input[type=submit] {
    border-radius: 0px 10px 10px 0px;
    margin-left: -5px;
    padding-top: 12px;
    padding-bottom: 14px; }
    @media screen and (max-width: 768px) {
      #home #content-5 input[type=submit] {
        margin: 0 auto;
        display: block;
        border-radius: 10px;
        margin-top: 25px; } }
  @media screen and (max-width: 768px) {
    #home #content-5 {
      padding-top: 25px;
      padding-bottom: 65px; } }

/*# sourceMappingURL=home.css.map */
